{% extends "base.html" %}
{% block title %} Archive - {{ SITENAME }}{%endblock%}
{% block content %}
<div class="row">
    <div class="col-10">
        {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
        <div class="row archive-year">
            <div class="col-xs-1 col-md-1 col-lg-1">
                <h3>{{ year }}</h3>
            </div>
        </div>
        {% for month, articles in date_year|groupby('date.month')|sort(reverse=True) %}
        {% for article in articles %}
		<div class="row archive-entry"> 
            <div class="col-xs-1 col-md-1 col-lg-1">
            </div>
			<div class="col-xs-3 col-md-3 col-lg-3">
                <h5>
                {{ article.date.strftime('%b %d') }}
                </h5>
			</div>
			<div class="col-xs-2 col-md-2 col-lg-2">
				<strong>
					{{ macro.badge(article.category) }}
				</strong>
			</div>
			<div class="col-xs-4 col-md-4 col-lg-4">
				<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
			</div>
		</div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

