<div>
<p>{{ article.locale_date }} </p>

<p style="text-align: left;">
    <i> Category:</i> <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
</p>
<p style="text-align: left;display: none;">
    {% if article.tags %} 
    Tags {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}
    {% endif %}
</p>
<p>
    {% include "share.html" %} 
</p>
<p>
<a href="https://tessarinseve.pythonanywhere.com/shared/request-form.html"><b>Leave your feedback.</b></a>
</p>

{% if category == 'IPYNB' %}
<p>
<a href="{{ REPOURL }}/-/raw/master/Documents/IPYNB/{{ article.title }}.ipynb?inline=false"><i class="fa fa-download"> Download</i></a>
</p>
{% endif %}

<p class="small">
Become a supporter (click the "cup of coffee" widget on the right-bottom corner) and help me to keep this website online.
</p>
<p>
{{ macro.temuad('affiliate') }}
</p>
<p>
{{ macro.amazonad('ama_search') }}

</p>
</div>
