{% extends "base.html" %}
{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{%endblock%}
{% block content %}
      
{% if category.name == 'IPYNB' %}

<div class="article">
    <div class="row mb-6">
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-dark border rounded">
                {% include "article-sidebar.html" %}      
            </div>
        </aside>
        <div class="contentarticle col-md-8 blog-main text-black">
            <div class="jumbotron bg-light border rounded">
                <div class="blog-post">
                    <div class="blog-post-title">
                        <h2>{{ article.title }}</h2>
                    </div>
                    {{ article.content }}
                </div>
            </div>


        </div>
    </div>
</div>

{% elif category.name == 'Pages' %}

<div class="article">
    <div class="row mb-6">
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-dark border rounded">
                {% include "article-sidebar.html" %}      
            </div>
        </aside>

        <div class="contentarticle col-md-8 blog-main">
            <div class="blog-post" style="text-align: justify;text-justify: inter-word;">
                <div class="blog-post-title">
                 <h3 class="mb-1"><a href="{{ SITEURL }}/{{ article.url|fixurl }}">{{ article.title|fixtitle }}</a></h3>

                </div>
                <div class="article-content">
                 {{ article.content }}
                </div>
            </div>
        </div>

    </div>
</div>

{% else %}

<div class="article">
    <div class="row mb-6">
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-dark border rounded">
                {% include "article-sidebar.html" %}      
            </div>
        </aside>

        <div class="contentarticle col-md-8 blog-main">
            <div class="blog-post">
                <div class="blog-post-title">
                    <h2>{{ article.title }}</h2>
                </div>
                <div class="article-content">
                 {{ article.content }}
                </div>
            </div>
        </div>

    </div>
</div>
{% endif %}


{% endblock %}
