{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}
{% block content %}
{{ macro.amazonad('category_top') }}


    {% for article in articles_page.object_list %}

        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-2 shadow-sm  position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2">
                {{ macro.badge(article.category) }}
				</strong>
				{% if category != 'Journal' %}
                <div class="ml-2 mb-2 mt-1 text-muted">{{ article.locale_date }}</div>
				{% endif %}
                <h3 class="mb-1"><a href="{{ SITEURL }}/{{ article.url|fixurl }}">{{ article.title|fixtitle }}</a></h3>
                <p class="card-text mb-auto">{{ article.summary }} </p>
                <div class="mb-0 mt-0 small">
					<a href="{{ SITEURL }}/{{ article.url|fixurl }}" class="stretched-link">Continue reading</a> 
				</div>


            </div>
				{% if category == 'Journal' %}
				<div class="col-3 p-4 d-none d-lg-block side-card bg-primary">
					<i>Tags:</i>
					<ul>
						{% for tag in article.tags %}
						<li>{{ tag }}</li>
						{% endfor %}
					</ul>
				</div>
				{% elif category == 'Pages' %}

				<div class="col-3 p-4 d-none d-lg-block side-card bg-secondary">
					<i>Tags:</i>
					<ul>
						{% for tag in article.tags %}
						<li>{{ tag }}</li>
						{% endfor %}
					</ul>
				</div>
				{% else %}
				{% endif %}
        </div>
    {% endfor %}




{% if articles_page and articles_paginator.num_pages > 1 %}
    <div class="row justify-content-center" style="margin: auto;text-align: center;">
        <div class="col-xs-12 ">
            {% if articles_page.has_previous() %}
            {% set num = articles_page.previous_page_number() %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html"><i class="fa fa-arrow-left fa-lg"></i> Next</a>
            {% else %}
            <a href="#"><i class="fa fa-arrow-left fa-lg"></i> Next</a>
            {% endif %}
            <i>  Pages ({{ articles_page.number }}) </i>
            {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
            <i class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">  {{ num }}  </a></i>
            {% endfor %}
            {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Previous  <i class="fa fa-arrow-right fa-lg"></i></a>
            {% else %}
            <a href="#">Previous  <i class="fa fa-arrow-right fa-lg"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="row h-25">
        <div class="col-sm-12 my-auto">
            <p></p>
        </div>
    </div>

{% else %}
        {% if pages %}
                <section id="content" class="body">
                <h1>Pages</h1>
                {% for page in pages %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </section>
        {% endif %}
{% endif %}

{% endblock content %}
