<table class="table table-responsive table-borderless">
        <tbody>
            <tr>
                <td style="display:flex; justify-content: center;  align-items: center !important;">
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
                <td style="display:flex; justify-content: center;  align-items: center !important;">
<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"> </a><script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
                </td>
            </tr>
        </tbody>
    </table>


