
<div class="temu-container">
    <div class="row mt-n1 justify-content-center">
        <div class="col-auto">
            <table class="table table-borderless table-responsive">
    <tbody>
        <tr>
            <td align = "center">
                <div class="temu-image-container">
                <iframe src="https://assets.pinterest.com/ext/embed.html?id=867154103266531658" height="337" width="450" frameborder="0" scrolling="no" ></iframe>
                </div>
            </td>
            </tr>
            <tr>
            <td align = "center">
                    <div class="temu-caption mt-n1" style="">
                        <i>As a Temu Affiliate I earn from qualifying purchases</i>
                    </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
