<div class="temu-container">
    <div class="row mt-n1 justify-content-center">
        <div class="col-auto">
            <table class="table table-borderless table-responsive w-100">
            <tbody>
                <tr>
                    <td align = "center">
                        <div class="temu-image-container">
                            <a href="https://temu.to/m/uuotjbjbx7y" target="_blank">
                                <img src="https://tessarinseve.pythonanywhere.com/staticweb/temucoupon.png"
                            title="100 euro coupon bundle"
                            alt="100 euro coupon bundle" style="width:600px;height:auto;">
                           </a>
                            <div class="temu-caption">
                            <i>As a Temu Affiliate I earn from qualifying purchases</i>
                            </div>
                        </div>                
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
