
<div class="temu-container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-borderless table-responsive w-100">
            <tbody>
                <tr>
                    <td align = "center">
                        <div class="temu-image-container">
                            <a href="https://temu.to/k/evkscagq3ag" target="_blank">
                                <img src="https://commimg-eu.kwcdn.com/material-image-out-eu/73f73bf/67cf69db-9f6e-41f4-b47c-ab0c662c3966.png?imageMogr2/thumbnail/600x315"
                            title="Retro Classic Hand Shake Bean Grinder Portable Adjustable Coffee Grinder"
                            alt="Retro Classic Hand Shake Bean Grinder Portable Adjustable Coffee Grinder" style="width:600px;height:auto;">
                            </a>
                            <div class="temu-caption">
                            <i>As a Temu Affiliate I earn from qualifying purchases</i>
                            </div>
                        </div>                
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
