
<div class="temu-container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-borderless table-responsive w-100">
            <tbody>
                <tr>
                    <td align = "center">
                        <div class="temu-image-container">
                            <a href="https://temu.to/m/eegvkibjgf5" target="_blank">
                            <img src="https://commimg-eu.kwcdn.com/material-image-out-eu/c2e02a1c/0f8ac95c-8f91-4229-8e08-09dd69b47bf5.png?imageMogr2/thumbnail/600x315"
                            title="Dimmable Desk Lamps 3-level Touch Dimming Eye Protection LED Table Lamp Night Light USB Plug In Lamps For Study"
                            alt="Dimmable Desk Lamps 3-level Touch Dimming Eye Protection LED Table Lamp Night Light USB Plug In Lamps For Study" style="width:600px;height:auto;">
                           </a>
                            <div class="temu-caption">
                            <i>As a Temu Affiliate I earn from qualifying purchases</i>
                            </div>
                        </div>                
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
