
<div class="temu-container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-borderless table-responsive w-100">
            <tbody>
                <tr>
                    <td align = "center">
                        <div class="temu-image-container">
                            <a href="https://temu.to/m/e9nxnaj81ej" target="_blank">
                                <img src="https://commimg-eu.kwcdn.com/material-image-out-eu/e07afedc/934676ff-5a6f-45d2-bf69-66bf3b397c10.png?imageMogr2/thumbnail/600x315"
                            title="1pc Daily Planner 21.59cm X 27.94cm To Do List Notebooks For Work Organization With Hourly Schedule, Action Items And Follow-up, Work Business Undated Planner For Office Productivity 200 Pages & 120 Gsm"
                            alt=" 1pc Daily Planner 21.59cm X 27.94cm To Do List Notebooks For Work Organization With Hourly Schedule, Action Items And Follow-up, Work Business Undated Planner For Office Productivity 200 Pages & 120 Gsm " style="width:600px;height:auto;">
                            </a>
                            <div class="temu-caption">
                            <i>As a Temu Affiliate I earn from qualifying purchases</i>
                            </div>
                        </div>                
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
