
<div class="temu-container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-borderless table-responsive w-100">
            <tbody>
                <tr>
                    <td align = "center">
                        <div class="temu-image-container">
                            <a href="https://temu.to/k/etlfgg40rgz" target="_blank">
                                <img src="https://commimg-eu.kwcdn.com/material-image-out-eu/7e038c7d/4f92e534-f85e-4f75-9d8c-826754945f95.png?imageMogr2/thumbnail/600x315"
                            title="Waterproof Double-Sided Mounting Tape - 10M/32.8ft Long, 5cm/1.96in Wide, Nano Adhesive, Reusable & Washable, Traceless, Multisurface Acrylic PMMA Tape for Home & Office Use - Sticks to Wood, Plastic, Glass, Metal, Stone"
                            alt="Waterproof Double-Sided Mounting Tape - 10M/32.8ft Long, 5cm/1.96in Wide, Nano Adhesive, Reusable & Washable, Traceless, Multisurface Acrylic PMMA Tape for Home & Office Use - Sticks to Wood, Plastic, Glass, Metal, Stone" style="width:600px;height:auto;">
                            </a>
                            <div class="temu-caption">
                            <i>As a Temu Affiliate I earn from qualifying purchases</i>
                            </div>
                        </div>                
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
